{% extends 'hotel/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block heading %}空室検索{% endblock %}

{% block content %}
    <section class="section bg-light pb-0"  >
      <div class="container">
	
        <div class="row check-availabilty" id="next">
          <div class="block-32" data-aos="fade-up" data-aos-offset="-200">
	    
            <form action="{% url 'hotel:search' %}" method="POST"
		  onsubmit="return checkDates();">
            {% csrf_token %}
            <div class="row">

	      <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkin_date" class=
			 "font-weight-bold text-black">チェックイン</label>
                  <div>{{ form.checkin|add_class:'form-control'|attr:'id:checkin' }}</div>
                </div>
		
                <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                  <label for="checkout_date" class=
			 "font-weight-bold text-black">チェックアウト</label>
		  <div>{{ form.checkout|add_class:'form-control'|attr:'id:checkout'|attr:'oninput:checkDates()' }}</div>
                </div>

                    <div class="col-md-6 mb-3 mb-md-0 col-lg-3">
		      <label for="adults" class="font-weight-bold text-black">
			人数</label>
			<div>{{ form.headcount|add_class:'form-control'}}</div>
                    </div>
		
                <div class="col-md-6 col-lg-3 align-self-end">
                  <button class="btn btn-primary btn-block text-white">
		    検索</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


     {% if availability %}
    <section class="py-5 bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-12 col-lg-4 order-lg-1" style="margin-top:7rem">
            <h2 class="heading">空き状況</h2>
	    <!--<p class="mb-3" style="margin-top:2rem"></p>-->
	      <table class="table" style="margin-top:2rem">
		<tbody>
		  <tr>
		    <th scope="row">チェックイン</th>
		    <td class="h5">{{ checkin_date }}</td>
		  </tr>
		  
		  <tr>
		    <th scope="row">チェックアウト</th>
		    <td class="h5">{{ checkout_date }}</td>
		  </tr>
		</tbody>
	      </table>

	    <table class="table" style="margin-top:2rem">
	      <thead>
		<tr class="h4">
		  <th scope="col">部屋タイプ</th>
		  <th scope="col">残り室数</th>
		  <th scope="col"></th>
		</tr>
	      </thead>
	      
	      <tbody>
		<tr>
		  <td class="h5 align-middle">ツイン</td>
		  <td class="h5 align-middle">{{ availability.0 }}</td>
		  <td>
		    {% if availability.0 > 0 %}
		    <form method="POST" name="twn_reserve"
			  action="{% url 'hotel:reserve' %}">
		      {% csrf_token %}
		      <input type="hidden" name="checkin"
			     value="{{ checkin_date }}">
		      <input type="hidden" name="checkout"
			     value="{{ checkout_date }}">
		      <input type="hidden" name="room_type" value="ツイン">
		      <input type="submit" value="予約" class="btn btn-primary">
		    </form>
		    {% else %}
		    <form>
		      <input type="submit" value="予約" class="btn btn-primary"
			     disabled="disabled">
		    </form>
		    {% endif %}
		  </td>
		</tr>
	
		<tr>
		  <td class="h5 align-middle">ダブル</td>
		  <td class="h5 align-middle">{{ availability.1 }}</td>
		  <td>
		    {% if availability.1 > 0 %}
		    <form method="POST" name="twn_reserve"
			  action="{% url 'hotel:reserve' %}">
		      {% csrf_token %}
		      <input type="hidden" name="checkin"
			     value="{{ checkin_date }}">
		      <input type="hidden" name="checkout"
			     value="{{ checkout_date }}">
		      <input type="hidden" name="room_type" value="ダブル">
		      <input type="submit" value="予約" class="btn btn-primary">
		    </form>
		    {% else %}
		    <form>
		      <input type="submit" value="予約" class="btn btn-primary"
			     disabled="disabled">
		    </form>
		    {% endif %}
		  </td>
		</tr>

		<tr>
		  <td class="h5 align-middle">シングル</td>
		  <td class="h5 align-middle">{{ availability.2 }}</td>
		  <td>
		    {% if availability.2 > 0 %}
		    <form method="POST" name="twn_reserve"
			  action="{% url 'hotel:reserve' %}">
		      {% csrf_token %}
		      <input type="hidden" name="checkin"
			     value="{{ checkin_date }}">
		      <input type="hidden" name="checkout"
			     value="{{ checkout_date }}">
		      <input type="hidden" name="room_type" value="シングル">
		      <input type="submit" value="予約" class="btn btn-primary">
		    </form>
		    {% else %}
		    <form>
		      <input type="submit" value="予約" class="btn btn-primary"
			     disabled="disabled">
		    </form>
		    {% endif %}
		  </td>
		</tr>
	      </tbody>
	    </table>
	    
          </div>
        </div>
      </div>
    </section>
    {% endif %}

    {% endblock %}
